@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/*** Color Palette ***/
// ### Primary
$Desaturated-Red: hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);

// ### Neutral
$Dark-Grayish-Red: hsl(0, 6%, 24%);

// ### Gradients
$background-1: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
$background-2: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);


/*** Reset ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Fonts ***/
html {
    font-family: 'Josefin Sans',
        sans-serif;
}


/*** Globals ***/
img {
    max-width: 100%;
    height: auto;
}

/*** BODY ***/
body {
    background: $background-1;
}

p,
span,
input {
    color: $Desaturated-Red;
}

// ARTICLE
.container {
    width: 90%;
    margin: 1em auto;
    max-width: 450px;
}

.hero {
    img {
        display: block;
        width: 100%;
    }
}

.heading {
    text-align: center;

    h1 {
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        color: $Dark-Grayish-Red;
        margin-bottom: 1rem;

        span {
            font-weight: 300;
            display: block;
        }
    }

    p {
        margin-bottom: 2rem;
    }
}

//------------ FORM --------------
form {
    position: relative;
    margin: 0 auto;

    .email {
        border: 1px solid $Desaturated-Red;
        outline: none;
        padding: 1em 1.5em;
        width: 100%;
        margin-bottom: 0.5em;
    }



    .btn {
        background: $background-2;
        padding: 0.7rem 1.5rem;
        border: none;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
    }

    .btn:hover {
        cursor: pointer;
    }

    .btn:active {
        background: $Desaturated-Red;
    }

    .error::before {
        content: "!";
        display: block;
        position: absolute;
        background-color: $Soft-Red;
        color: white;
        padding: 5px 10px;
        border-radius: 50%;
        top: 0.5rem;
        left: -50px;


    }


    .c-valid {
        color: $Soft-Red;
        text-align: left;
        margin-left: 1.5em;
    }
}

/*** Sliders ***/
.email,
button {
    border-radius: 2em;
}

.hero img,
.heading {
    margin-bottom: 3em;
}

/*** Footer ***/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*** 8.0 - MediaQuery ***/

/* For tablets: */
@media only screen and (min-width: 600px) {}


/* For desktop: */
@media only screen and (min-width: 768px) {

    .coming-soon {
        background-image: url(../images/bg-pattern-desktop.svg);
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo hero"
            "heading hero";
    }

    .logo {
        grid-area: logo;
        align-self: center;
    }

    .heading {
        grid-area: heading;
        text-align: left;

        h1 {
            font-size: 4rem;
        }
    }

    .hero {
        grid-area: hero;

        img {
            margin: 0;
            height: 100%;
        }
    }

    .btn {
        width: 5rem;
    }

}